{% extends "terminusgps_authenticator/layout.html" %}
{% block content %}
<div class="flex gap-4 text-terminus-red-800">
    {% if previous_day %}
    <a class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out" href="{% url 'logs day' year=day|date:'Y' month=day|date:'m' day=previous_day|date:'j' %}">Previous Day</a>
    {% endif %}
    {% if next_day %}
    <a class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out" href="{% url 'logs day' year=day|date:'Y' month=day|date:'m' day=next_day|date:'j' %}">Next Day</a>
    {% endif %}
</div>
{% include "terminusgps_authenticator/logs/partials/_day.html" %}
{% include "terminusgps_authenticator/logs/paginator.html" %}
{% endblock content %}
