{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | Terminus GPS Timekeeper</title>
        <link href="{% static 'src/css/output.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'src/js/htmx.min.js' %}" defer></script>
    </head>
    <body class="h-fit w-full bg-gradient-to-b from-terminus-red-100 to-terminus-red-900 bg-no-repeat text-gray-800 dark:text-white">
        <div class="bg-stone-100 p-4 drop-shadow flex justify-between">
            <a href="{% url 'list employees' %}" hx-boost="true" class="flex-inline flex items-center gap-2 p-2">
                {% include "terminusgps_timekeeper/logo.svg" with class="size-16" %}
                <h2 class="text-xl font-semibold tracking-wider">Terminus GPS Timekeeper</h2>
            </a>
            {% if request.user and request.user.is_authenticated %}
            <div class="flex flex-col gap-2">
                <form hx-get="{% url 'logout' %}" hx-trigger="load" hx-target="this" hx-swap="outerHTML"></form>
            </div>
            {% endif %}
        </div>
        <main class="m-8 flex flex-col flex-nowrap gap-8 rounded bg-stone-100 p-8 drop-shadow-lg">
            {% include "terminusgps_timekeeper/navbar.html" %}
            <h2 class="text-2xl font-bold">{{ title }}</h2>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "terminusgps_timekeeper/footer.html" %}
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>
    </body>
</html>
