<div hx-boost="true" class="flex flex-col gap-4 md:flex-row">
    <a
        class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  text-center transition-colors duration-300 ease-in-out hover:bg-gray-100"
        href="?page=1">
        First
    </a>
    <a
        class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  text-center transition-colors duration-300 ease-in-out hover:bg-gray-100"
        href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
        Previous
    </a>
    <a
        class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  text-center transition-colors duration-300 ease-in-out hover:bg-gray-100"
        href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
        Next
    </a>
    <a
        class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  text-center transition-colors duration-300 ease-in-out hover:bg-gray-100"
        href="?page={{ page_obj.paginator.num_pages }}">
        Last
    </a>
</div>
