<div class="{{ class }}">
    <div class="flex flex-col gap-4">
        <div class="p-2 w-full border-b border-terminus-red-800 text-terminus-red-800">
            <h2 class="text-2xl font-bold">Employees</h2>
        </div>
        <div class="relative overflow-x-auto" hx-target="this" hx-swap="outerHTML" hx-trigger="load" hx-get="{% url 'list employees' %}"></div>
    </div>
    <div hx-boost="true" class="flex flex-col md:flex-row gap-4 text-terminus-red-800">
        <a href="{% url 'create employee' %}" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
            </svg>
            Add Employee
        </a>
        <a href="{% url 'create employee batch' %}" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
            </svg>
            Upload Batch File
        </a>
        <a href="#" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
            </svg>
            Scan Fingerprint
        </a>
        <a href="#" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
            </svg>
            Generate Report
        </a>
    </div>
    <div class="flex flex-col gap-4">
        <div class="p-2 w-full border-b border-terminus-red-800 text-terminus-red-800">
            <h2 class="text-2xl font-bold">Logs</h2>
        </div>
        <div hx-target="this" hx-swap="outerHTML" hx-trigger="load" hx-get="{% url 'list logitems' %}"></div>
        <div hx-boost="true" class="flex flex-col md:flex-row gap-4 text-terminus-red-800">
            <a href="{% url 'create employee' %}" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M18 7.5v3m0 0v3m0-3h3m-3 0h-3m-2.25-4.125a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0ZM3 19.235v-.11a6.375 6.375 0 0 1 12.75 0v.109A12.318 12.318 0 0 1 9.374 21c-2.331 0-4.512-.645-6.374-1.766Z" />
                </svg>
                Add Employee
            </a>
            <a href="{% url 'create employee batch' %}" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 8.25H7.5a2.25 2.25 0 0 0-2.25 2.25v9a2.25 2.25 0 0 0 2.25 2.25h9a2.25 2.25 0 0 0 2.25-2.25v-9a2.25 2.25 0 0 0-2.25-2.25H15m0-3-3-3m0 0-3 3m3-3V15" />
                </svg>
                Upload Batch File
            </a>
            <a href="#" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M7.864 4.243A7.5 7.5 0 0 1 19.5 10.5c0 2.92-.556 5.709-1.568 8.268M5.742 6.364A7.465 7.465 0 0 0 4.5 10.5a7.464 7.464 0 0 1-1.15 3.993m1.989 3.559A11.209 11.209 0 0 0 8.25 10.5a3.75 3.75 0 1 1 7.5 0c0 .527-.021 1.049-.064 1.565M12 10.5a14.94 14.94 0 0 1-3.6 9.75m6.633-4.596a18.666 18.666 0 0 1-2.485 5.33" />
                </svg>
                Scan Fingerprint
            </a>
            <a href="#" class="flex flex-inline px-8 py-6 bg-red-300 border-2 border-terminus-red-600 w-full items-center rounded gap-2 cursor-pointer hover:bg-red-400 transition-colors duration-300 ease-in-out">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-8">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 12h3.75M9 15h3.75M9 18h3.75m3 .75H18a2.25 2.25 0 0 0 2.25-2.25V6.108c0-1.135-.845-2.098-1.976-2.192a48.424 48.424 0 0 0-1.123-.08m-5.801 0c-.065.21-.1.433-.1.664 0 .414.336.75.75.75h4.5a.75.75 0 0 0 .75-.75 2.25 2.25 0 0 0-.1-.664m-5.8 0A2.251 2.251 0 0 1 13.5 2.25H15c1.012 0 1.867.668 2.15 1.586m-5.8 0c-.376.023-.75.05-1.124.08C9.095 4.01 8.25 4.973 8.25 6.108V8.25m0 0H4.875c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125h9.75c.621 0 1.125-.504 1.125-1.125V9.375c0-.621-.504-1.125-1.125-1.125H8.25ZM6.75 12h.008v.008H6.75V12Zm0 3h.008v.008H6.75V15Zm0 3h.008v.008H6.75V18Z" />
                </svg>
                Generate Report
            </a>
        </div>
    </div>
    <div class="flex flex-col gap-4">
        <div class="p-2 w-full border-b border-terminus-red-800 text-terminus-red-800">
            <h2 class="text-2xl font-bold">Settings</h2>
        </div>
        <div hx-target="this" hx-swap="outerHTML" hx-trigger="load" hx-get="{% url 'settings' %}"></div>
    </div>
</div>
