{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title|default:'Authenticator' }} | Terminus GPS</title>
        <link href="{% static 'src/css/output.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'src/js/htmx.min.js' %}" defer></script>
    </head>
    <body class="h-fit bg-gradient-to-b from-terminus-red-100 to-terminus-red-900 bg-no-repeat text-gray-800 dark:text-white w-full">
        <div class="p-4 bg-stone-100 drop-shadow">
            <a href="{% url 'dashboard' %}" hx-boost="true" class="flex flex-inline gap-2 items-center p-2">
                {% include "terminusgps_authenticator/logo.svg" with class="size-16" %}
                <h2 class="text-xl font-semibold tracking-wider">Terminus GPS Authenticator</h2>
            </a>
        </div>
        <main class="flex flex-col gap-8 bg-stone-100 rounded m-8 p-8 flex-nowrap">
            {% include "terminusgps_authenticator/navbar.html" %}
            <h2 class="text-2xl font-bold">{{ title }}</h2>
            {% block content %}
            {% endblock content %}
        </main>
        {% include "terminusgps_authenticator/footer.html" %}
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>
    </body>
</html>
