<div hx-boost="true" class="flex flex-col gap-4 md:flex-row">
    <a class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  transition-colors duration-300 ease-in-out hover:bg-gray-100" href="?page=1">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m18.75 4.5-7.5 7.5 7.5 7.5m-6-15L5.25 12l7.5 7.5" />
        </svg>
    </a>
    <a class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  transition-colors duration-300 ease-in-out hover:bg-gray-100" href="{% if page_obj.has_previous %}?page={{ page_obj.previous_page_number }}{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M15.75 19.5 8.25 12l7.5-7.5" />
        </svg>
    </a>
    <a class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  transition-colors duration-300 ease-in-out hover:bg-gray-100" href="{% if page_obj.has_next %}?page={{ page_obj.next_page_number }}{% endif %}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    </a>
    <a class="justify-end w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2  transition-colors duration-300 ease-in-out hover:bg-gray-100" href="?page={{ page_obj.paginator.num_pages }}">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m5.25 4.5 7.5 7.5-7.5 7.5m6-15 7.5 7.5-7.5 7.5" />
        </svg>
    </a>
</div>
