{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title|default:'Authenticator' }} | Terminus GPS</title>
        <link href="{% static 'terminusgps/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
        <link href="{% static 'terminusgps/css/output.css' %}" rel="stylesheet" type="text/css">
        <script src="{% static 'terminusgps/js/htmx.min.js' %}" defer></script>
    </head>
    <body class="h-fit bg-gradient-to-b from-terminus-red-100 to-terminus-red-900 bg-no-repeat text-gray-800 dark:text-white">
        <main>
            {% block content %}
            {% endblock content %}
        </main>
        <script>
        document.body.addEventListener('htmx:configRequest', (event) => {
            event.detail.headers['X-CSRFToken'] = '{{ csrf_token }}';
        })
        </script>
    </body>
</html>
