<form class="{{ class }}" action="{% url 'create employee' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="flex flex-col gap-2">
        {{ form.email.label }}
        {{ form.email }}
        {% if form.email.errors %}
        <div class="-mt-2 p-2 bg-red-100 border-b border-r border-l border-red-800 rounded-b">
            <span class="text-red-600">{{ form.email.errors }}</span>
        </div>
        {% endif %}
    </div>
    <div class="flex flex-col gap-2">
        {{ form.pfp.label }}
        {{ form.pfp }}
        {% if form.pfp.errors %}
        <div class="-mt-2 p-2 bg-red-100 border-b border-r border-l border-red-800 rounded-b">
            <span class="text-red-600">{{ form.pfp.errors }}</span>
        </div>
        {% endif %}
    </div>
    <div class="flex flex-col gap-2">
        {{ form.title.label }}
        {{ form.title }}
        {% if form.title.errors %}
        <div class="-mt-2 p-2 bg-red-100 border-b border-r border-l border-red-800 rounded-b">
            <span class="text-red-600">{{ form.title.errors }}</span>
        </div>
        {% endif %}
    </div>
    <div class="flex flex-col gap-2">
        {{ form.phone.label }}
        {{ form.phone }}
        {% if form.phone.errors %}
        <div class="-mt-2 p-2 bg-red-100 border-b border-r border-l border-red-800 rounded-b">
            <span class="text-red-600">{{ form.phone.errors }}</span>
        </div>
        {% endif %}
    </div>
    <div class="flex flex-col gap-2">
        {{ form.code.label }}
        {{ form.code }}
        {% if form.code.errors %}
        <div class="-mt-2 p-2 bg-red-100 border-b border-r border-l border-red-800 rounded-b">
            <span class="text-red-600">{{ form.code.errors }}</span>
        </div>
        {% endif %}
    </div>
    <div class="flex justify-between gap-2">
        <a href="{% url 'list employees' %}" hx-boost="true" class="w-full rounded border border-terminus-black bg-gray-500 p-2 text-white cursor-pointer hover:bg-gray-400 transition-colors duration-300 ease-in-out text-center">Back</a>
        <input class="w-full rounded border border-terminus-black bg-terminus-red-800 p-2 text-white cursor-pointer hover:bg-terminus-red-400 transition-colors duration-300 ease-in-out" type="submit" value="Submit">
    </div>
</form>
