<div class="{{ class }}" hx-target="this" hx-swap="outerHTML">
    <div id="info" class="w-full bg-gray-300 p-2 border-2 rounded border-gray-600 flex flex-col gap-4">
        <div class="flex flex-inline gap-4 items-center">
            {% if employee.pfp %}<img class="rounded-full w-16 h-16" src="{{ employee.pfp.url }}">{% endif %}
            <div class="flex flex-col gap-1">
                <h2 class="text-gray-800 text-xl font-semibold">{{ employee.user.username }} - <span class="{% if employee.punched_in %}text-green-500{% else %}text-red-500{% endif %}">{{ employee.punched_in|yesno:'IN,OUT' }}</span></h2>
                {% if employee.title %}<p class="text-gray-600">{{ employee.title }}</p>{% endif %}
                {% if employee.phone %}<p class="text-gray-600">{{ employee.phone }}</p>{% endif %}
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row justify-evenly gap-4">
        <div class="flex-inline p-4 bg-fuchsia-100 block rounded w-full" hx-patch="{% url 'detail employee' employee.pk %}?status=true" hx-trigger="click">
            Punch in
        </div>
        <div class="flex-inline p-4 bg-blue-400 block rounded w-full" hx-patch="{% url 'detail employee' employee.pk %}?status=false" hx-trigger="click">
            Punch out
        </div>
    </div>
    <div id="logs" class="flex flex-col gap-4">
        <h2 class="text-lg font-semibold">Latest logs</h2>
        <div hx-target="this" hx-trigger="load, every 2s" hx-get="{% url 'employee logs' employee.pk %}"></div>
    </div>
</div>
