<tr id="{{ employee.id }}" class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        {{ employee.id }}
    </th>
    <td class="px-6 py-4">
        {{ employee.email }}
    </td>
    <td class="px-6 py-4">
        {{ employee.phone }}
    </td>
    <td class="px-6 py-4">
        <form hx-get="{% url 'delete employee' employee.pk %}" hx-trigger="load" hx-swap="outerHTML" hx-target="this"></form>
    </td>
</tr>
