<div class="relative overflow-x-auto">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Employee ID
                </th>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    Phone
                </th>
            </tr>
        </thead>
        <tbody>
            {% for employee in page_obj %}
            <tr id="{{ employee.id }}.{{ employee.slug }}" class="bg-white odd:bg-gray-300 animate-pulse border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                </th>
                <td class="px-6 py-4">
                </td>
                <td class="px-6 py-4">
                </td>
                <td class="px-6 py-4">
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
