<div class="{{ class }}" hx-target="this" hx-swap="outerHTML">
    <div id="info" class="flex flex-col gap-4 rounded border bg-white p-4 drop-shadow-md relative">
        <div class="flex-inline flex items-center gap-4">
            {% if employee.pfp %}<img class="h-16 w-16 rounded-full object-contain md:h-24 md:w-24" src="{{ employee.pfp.url }}">{% endif %}
            <div class="flex flex-col gap-1 text-gray-800">
                <h2 class="font-semibold">{{ employee.user.username }}</h2> 
                {% if employee.phone %}<h3 class="text-gray-600">{{ employee.phone }}</h3>{% endif %}
                {% if employee.title %}<p class="text-gray-600">{{ employee.title }}</p>{% endif %}
            </div>
            <div hx-get="{% url 'update employee' employee.pk %}" hx-trigger="click" hx-target="#info">Edit</div>
        </div>
        {% if employee.punch_card.punched_in %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute -top-10 -right-10 size-32 text-yellow-600/25">
            <path stroke-linecap="round" stroke-linejoin="round" d="M12 3v2.25m6.364.386-1.591 1.591M21 12h-2.25m-.386 6.364-1.591-1.591M12 18.75V21m-4.773-4.227-1.591 1.591M5.25 12H3m4.227-4.773L5.636 5.636M15.75 12a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0Z" />
        </svg>
        {% else %}
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="absolute -top-10 -right-10 size-32 fill-white/25 text-gray-600/25">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21.752 15.002A9.72 9.72 0 0 1 18 15.75c-5.385 0-9.75-4.365-9.75-9.75 0-1.33.266-2.597.748-3.752A9.753 9.753 0 0 0 3 11.25C3 16.635 7.365 21 12.75 21a9.753 9.753 0 0 0 9.002-5.998Z" />
        </svg>
        {% endif %}
    </div>
    <div id="punch-card" class="flex flex-col gap-4 rounded border bg-white p-4 drop-shadow-md">
        <div class="relative flex justify-between gap-2">
            <h2 class="text-lg font-bold">Punch Card</h2>
        </div>
        <p>Last seen on {{ employee.punch_card.last_punch_in_time|date:"l, F jS, Y" }} at {{ employee.punch_card.last_punch_in_time|date:"P" }}</p>
        <div id="punch-card-actions">
            <div
                class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-center text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400"
                hx-trigger="click"
                hx-confirm="Punch '{{ employee }}' {{ employee.punch_card.punched_in|yesno:'out,in' }}?"
                hx-patch="?status={{ employee.punch_card.punched_in|yesno:'false,true' }}"
            >
                Punch {{ employee.punch_card.punched_in|yesno:'Out,In' }}
            </div>
        </div>
    </div>
    <div id="shifts" class="flex flex-col gap-4 rounded border bg-white p-4 drop-shadow-md">
        <div class="flex justify-between gap-2">
            <h2 class="text-lg font-bold">Latest shifts</h2>
            <a class="font-semibold text-terminus-red-800 underline decoration-terminus-black decoration-2 underline-offset-4 hover:text-terminus-red-500 hover:decoration-dotted" href="{% url 'list shifts' employee.pk %}">View all</a>
        </div>
        <div class="grid grid-rows-5 gap-4 md:grid-cols-5 md:grid-rows-1">
            {% for shift in latest_shifts %}
            <div class="overflow-clip rounded border p-4">
                <h3 class="text-gray-700 text-sm text-nowrap">{{ shift.start_datetime|date:"" }}</h3>
                <p class="text-gray-800">{{ shift.get_duration_display }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
