<form class="{{ class }}" action="{% url 'set fingerprint' employee.pk %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.code.label }}
    {{ form.code }}
    {{ form.code.errors }}
    <div class="mt-4 flex justify-evenly gap-2">
        <a hx-boost="true" href="{{ employee.get_absolute_url }}" class="w-full cursor-pointer rounded border border-terminus-black bg-gray-300 p-2 text-center transition-colors duration-300 ease-in-out hover:bg-gray-100">Back</a>
        <input class="w-full cursor-pointer rounded border border-terminus-black bg-terminus-red-800 p-2 text-white transition-colors duration-300 ease-in-out hover:bg-terminus-red-400" type="submit">
    </div>
</form>
